<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Info</title>
    <link rel="stylesheet" href="group_info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="group-edit-container" id="group-edit-container"></div>
        <div class="group-name-container" id="group-name-container"></div>
        <div class="group-desc-container" id="group-desc-container"></div>
        <div class="existing-members-container" id="existing-members">
            <span style="font-size: large;">Existing Members</span>
            <table id="members-list">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be dynamically added here -->
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="group_info.js"></script>
</html>