<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Info</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="group-edit-container" id="group-edit-container"></div>
    <div class="group-name-container" id="group-name-container"></div>
    <div class="group-desc-container" id="group-desc-container"></div>
    <div class="group-members-container" id="group-members-container">
        <h4>Existing Members</h4>
        <ul id="members-list"></ul>
    </div>
</body>
<script src="group_info.js"></script>
</html>