<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat App</title>
</head>
<body>
    <div class="container">
        <div class="container">
            <h4>Welcome to Group Chat App</h4>
            <p>Stay connected with friends, family, and colleagues in real-time! Create or join groups to engage with your preferred communities and enjoy seamless, instant communication.</p>
            <button id="login" onclick="window.location.href='user_views/login.html';">LogIn</button>
            <button id="register" onclick="window.location.href='user_views/register.html';">Register</button>
        </div>
    </div>
</body>
</html>