<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="parent-container">
    <div class="chat-container" id="chat-container">
        <h4>You Joined</h4>
    </div>
    <div class="form-container" id="form-container">
        <form id="message-form">
            <input id="message" type="text" placeholder="message">
            <button type="submit">Send</button>
        </form>
    </div>
</body>
<script src="chat.js"></script>
</html>