<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="parent-container">
    <div class="child-container">
        <div class="group-container" id="group-container">
        </div>
        <div class="chat-form-container" id="chat-form-container">
            <div class="group-info-container" id="group-info-container"></div>
            <div class="chat-container" id="chat-container"></div>
            <div class="form-container" id="form-container">
                <form id="message-form">
                    <input id="input_message" name="message" type="text" placeholder="message">
                    <button type="submit" onsubmit="handle_message_submit(event)"><i class="fa-solid fa-arrow-right" style="padding: 6px 15px; font-size: 24px"></i></button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="chat.js"></script>
</html>